<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>MDS GENE DB</b></a>
    <div class="d-flex">
      <app-quick-search></app-quick-search>
    </div>
  </div>

</nav>

<div *ngIf="web.data.count()>0">
  <form></form>
</div>

<div class="container">
  <ng-container *ngFor="let s of dataService.selected">
    <app-data-viewer [data]="s" (closeEntry)="removeEntry($event)"></app-data-viewer>
  </ng-container>
</div>
